@import "@/styles/fn";

.Footer {
    background: $c-accent-1;
    color: $c-theme;

    h1 {
        @include h1;
        text-align: center;
        font-weight: $fw-lg;
    }

    a {
        display: flex;
        color: inherit;
        text-decoration: none;

        &:hover {
            color: $c-theme-hover;

            i {
                transform: translate(10%, -10%);
            }
        }

        i {
            @include transition-hover-active($transition-1, $transition-1t);
        }
    }

    .wrapper {
        @include focus-padding;
    }

    .buttonWrapper {
        @include flex-center;
    }

    .linksWrapper {
        @include body;
        width: 100%;
        max-width: $q-lg;
        display: flex;
        justify-content: center;
        gap: 70px;
        margin: 0 auto;

        a {
            font-weight: $fw-xs;
        }
    }

    .linksGroup {
        display: flex;
        flex-direction: column;
        width: 230px;
        flex-wrap: wrap;

        .title {
            @include h5;
            font-weight: $fw-lg;
        }

        .links {
            display: flex;
            flex-direction: column;
            gap: 16px;

            a {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }

    .bottom {
        @include body;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
        font-weight: $fw-xs;
    }

    @include q-cutsom(1200px) {
        .linksWrapper {
            flex-wrap: wrap;
            max-width: $q-sm;
            justify-content: space-around;
            gap: 80px 150px;
        }
    }

    @include q-cutsom(750px) {
        @include h5;

        .linksWrapper {
            align-items: center;
            flex-direction: column;
            gap: 85px;
        }

        .title {
            @include h4;
            text-align: center;
        }

        .links {
            a {
                margin: 0 auto;
            }
        }
    }

    @include q-xs {
        .linksWrapper {
            @include h6;
        }

        .title {
            @include h5;
        }
    }
}
